<app-content name="Trainingspläne" route="/">
  <div class="search form-field">
    <label for="search">Trainingsplan suchen</label>
    <input id="search" type="text" placeholder="" autocomplete="off" (input)="search$.next(input.value)" #input>
    <div class="icon">
      <img ngSrc="assets/icon/search.svg" fill alt="Suchen">
    </div>
  </div>
  <ng-container *ngIf="filteredPlans.length !== 0; else noPlans">
    <div class="plans">
      <ng-container *ngFor="let plan of filteredPlans">
        <div class="plan" *ngIf="plan.id" (touchstart)="handleClick(plan.id, true)"
             (touchend)="handleClick(plan.id)">
          <span class="name">{{ plan.name }}</span>
        </div>
      </ng-container>
    </div>
  </ng-container>
</app-content>

<ng-template #noPlans>
  <p>Keine Trainingspläne gefunden.</p>
</ng-template>
