<app-content [name]="getGreeting()">
  <main class="content">

    <h2>Deine letzten Trainings</h2>
    <ng-container *ngIf="plans.length > 0; else noPlans">
      <div class="plans">
        <button (click)="start(plan)" *ngFor="let plan of plans" class="plan">{{ plan.name }}</button>
      </div>
    </ng-container>

    <nav>
      <app-navigation-item icon="add" route="new" displayName="Erstellen"/>
      <app-navigation-item icon="dumbbell" route="overview" displayName="Trainingspläne"/>
    </nav>
  </main>
</app-content>

<ng-template #noPlans>
  <p>Du hast noch keine Trainings abgeschlossen.</p>
</ng-template>
