<app-content name="Trainingsplan erstellen" route="/">
  <form [formGroup]="form">
    <div class="form-field">
      <label for="name">Name *</label>
      <input id="name" formControlName="name" type="text" placeholder="" autocomplete="off">
    </div>

    <div class="search form-field">
      <label for="search">Übung hinzufügen</label>
      <input id="search" formControlName="search" type="text" placeholder="" autocomplete="off">
      <div class="icon">
        <img ngSrc="assets/icon/search.svg" fill alt="Suchen">
      </div>
    </div>

    <app-machine-list
      [selectedMachines]="selectedMachines"
      [machines]="machines()"
      [filter]="searchValue"
      (removeMachine)="removeMachine($event)"
      (addMachine)="addMachine($event)"/>

    <app-navigation-item *ngIf="selectedMachines.length > 0"
                         (click)="submit()"
                         displayName="Weiter"/>
  </form>
</app-content>
