<app-content name="Trainingsplan erstellen" route="/">
  <form [formGroup]="form">
    <div class="form-field">
      <label for="name">Name *</label>
      <input id="name" formControlName="name" type="text" placeholder="" autocomplete="off">
    </div>

    <app-machine-list
      (removeMachine)="removeMachine($event)"
      (addMachine)="addMachine($event)"/>

    <app-navigation-item *ngIf="selectedMachines.length > 0 && form.value.name"
                         (click)="submit()"
                         displayName="Weiter"/>
  </form>
</app-content>
