@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --bro-color-full: #01cd23;
  --bro-color-medium: #cd6e01;
  --bro-color-low: #cd3101;
  --bro-color-charging: #01b5cd;

  --bro-color-primary: #fff;

  --bro-color-contrast-2: rgba(0, 0, 0, 0.65);
  --bro-color-contrast-3: #FFFFFF1E;
}

html, body, app-root {
  display: block;
  height: 100%;
}
