:host {
  height: 100%;
  width: 100%;

  .nav-point {
    display: flex;
    align-items: center;
    column-gap: .05em;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background-color: transparent;
    color: #FFFFFFFF;
    text-align: center;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;

    .icon {
      position: relative;
      height: 1.6em;
      width: 1.6em;
    }

    .name {
      font-size: .6875em;
    }

    &.active {
      color: var(--bro-color-primary);
    }
  }
}
